
<% include partials/header %>
<style>
    body{
    background-image: linear-gradient(whitesmoke,lightblue, lightgreen);  
    background-repeat: no-repeat;
  }
  </style>

<script  >
   function myfunction(i) {

  console.log(i);
  var n = document.images.item(i).src;
  console.log(n)
  var el = document.querySelectorAll("#demo");
  console.log(el[i].innerText)
  var fl = document.querySelectorAll("#demo1");
  console.log(fl[i].innerText)
  var newdata ={img :n ,title:el[i].innerText,price:fl[i].innerText}
   console.log (newdata);

  

 fetch("/cart", {
    method: 'post',
    headers: {
      "Content-type": "application/json"
    },
    body:JSON.stringify(newdata)
  })
  .then(function (data) {
  //   console.log('Request succeeded with JSON response', data);
  // })
  // .catch(function (error) {
  //   console.log('Request failed', error);
  });


}
  
</script>
   
<br>
<br>
<br>
<div class="container-fluid">
       <div class="row" >
       <% for (i=0;i<count;i++)   {%>
      
         <div class="col-lg-3 col-sm-6" style="padding-bottom: 40px">
         <div class="well "> 
         <div class="row"><label class="book-compress col-sm-10" id="demo"><label>Bookname: </label><%= result[i].bookname %></label></div>
         <div class="row"><label class="row book-compress col-sm-10">Price :<%= result[i].price %> Rs/-</label></div>
         <div class="row"><label class="row book-compress col-sm-10">Email :<%= result[i].emailid %></label></div>
         <div class="row"><label class="row book-compress col-sm-10">Phoneno :<%= result[i].Phoneno %></label></div>
         <div class="row col-sm-10">
         <img  class="image-compress img-thumbnail" src="<%= result[i].bookimg  %>">
         </div>
             
          <!-- <div class="row"> 
           <form action="/cart"   method="POST" >
          <input type="submit" class="button-compress btn btn-sm btn-primary col-sm-4"  onclick=" myfunction('<%= i %>')"  name="submit"    value="Add to my Cart" >
          </form>
          </div> -->
          </div>
       </div>
       <%  } %>
       </div>
     
 </div>   




<% include partials/footer %>